.flex-col-scroll {
  margin-top: 60px;
}

@media only screen and (min-width: 768px)  {
  .flex-section {
    margin-top: 48px !important;
    max-height: calc(100% - 48px)!important;
    min-width: 100%;
  }

  .flex-col-scroll {
    margin-top: inherit;
    overflow-y: auto;
    max-height: calc(100vh - 48px) !important;
    padding-top: 10px!important;
    background-color: whitesmoke;
  }

  #name {
    padding-top: 30px;
  }

  #panel-related{
    margin-bottom: 50px;
  }
}

#twitter-timeline{
  box-shadow: 0 0 15px red !important;
}

.fa-youtube{
  color: red;
}

.fa-youtube:hover{
  color: darkred;
}

.fa-twitter-square{
  color: lightskyblue;
}

.fa-twitter-square:hover{
  color: steelblue;
}

.fa-birthday-cake{
  color: orange;
}

.social-null{
  color: lightgray;
  pointer-events: none !important;
}

h6.title {
  font-size: 0.8em;
}
