#statesdir-container, #poli-table-container{
	position: absolute;
	top: 48px;
	overflow-y: scroll;
	height: calc(100% - 48px);
	min-width: 100%;
}

.table-dir-title{
	font-size: 2em;
	color: navy;
}

#state-table, #poli-table, #search-table{
	padding: 50px 0px;
}

#statesdir-bg{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100vh;
	z-index: -1;
	filter: brightness(70%);
}

.state-feed{
	background: rgba(0, 0, 0, 0) !important;
	padding-bottom: 20px;
}

.hi-lite, .highlight{
	background: lightblue;
	padding: 4px 1px;
	border-radius: 4px;
}

.hover-cursor{
	cursor: pointer!important;
}

.table-desk{
	display: none;
}

.table-mobile{
	display: block;
}

#sd-title{
	color: white;
	font-size: 4em;
	font-weight: bold;
}

#counties-image{
	/* background: red; */
	height: 100%;
	width: 100%;
}

@media only screen and (min-width: 768px){
	.table-desk{
		display: block;
	}

	.table-mobile{
		display: none;
	}
}
